@import 'variables.sass'
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap')
.upload-feature-img-wrap
    width: 100%
    display: inline-block
    text-align: center
    margin: 13px 0 0
    .upload-feature-img
        background-color: $white-color
        border: 1px dashed $body-color
        border-radius: 8px
        display: flex
        justify-content: center
        align-items: center
        width: 289px
        max-width: 100%
        height: 178px
        margin: 0 auto
        font-size: 18px
        line-height: 1.5
        color: $body-color
        position: relative
        @media (max-width: $breakpoint-mobile)
            font-size: 14px
            height: 140px
        img
            width: 100%
            height: 100%
            max-width: calc(100% + 4px)
            width: calc(100% + 4px)
            height: calc(100% + 4px)
            object-fit: cover
            border-radius: 8px
            position: absolute
            left: -2px
.url-control
    .form-control
        background-image: url('/images/link.png')
        background-position: 15px center
        background-repeat: no-repeat
        padding-left: 50px
.dashboard-wrapper
    width: 100%
    display: inline-block
    background-color: $light-bg-color
    .drawer-toggle
        position: absolute
        right: 0
        width: 48px
        height: 48px
        background-color: $green-color
        bottom: 10%
        border-radius: 24px 0 0 24px
        text-align: center
        line-height: 46px
        svg
            transform: rotate(180deg)
    .dashboard-menu
        width: 265px
        display: inline-block
        vertical-align: top
        filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.18))
        background-color: $light-blue-color
        // padding: 55px 19px 55px 16px
        position: fixed
        top: 0
        transform: translateX(-211px)
        height: 100%
        overflow-x: hidden
        overflow-y: auto
        -webkit-overflow-scrolling: touch
        padding: 140px 56px 55px 16px
        z-index: 10
        transition: all 500ms
        @media (max-width: $breakpoint-ipad)
            padding-top: 85px
        ul
            li
                margin: 0 0 15px
                @media (max-width: $breakpoint-ipad)
                    margin: 0 0 5px
                a
                    width: 100%
                    display: flex
                    justify-content: space-between
                    align-items: center
                    font-size: 16px
                    line-height: 21px
                    font-weight: bold
                    color: $white-color
                    padding: 16px
                    border-radius: 16px
                    @media (max-width: $breakpoint-ipad)
                        padding: 10px 15px
                        font-size: 14px
                    svg
                        path,
                        rect
                           // fill: $white-color
                &:hover,
                &:active,
                &:focus
                    a
                        text-decoration: none
                        color: $white-color
                        &:hover,
                        &:active,
                        &:focus
                            color: $white-color
                &.active
                    & > a
                        background-color: $white-color
                        color: $dark-grey-color
                        &:hover,
                        &:active,
                        &:focus
                            color: $dark-grey-color
                        svg
                            path,
                            rect
                                fill: $dark-grey-color
            .sub-menu
                padding: 10px 0 0 18px
                li
                    a
                        padding: 8px
        // &.expand-menu
        //     width: auto
        //     padding: 55px 10px
        //     ul
        //         li
        //             a
        //                 font-size: 0
        //                 padding: 5px
        // @media (max-width: $breakpoint-ipad)
        //     width: auto
        //     padding: 55px 10px
        //     ul
        //         li
        //             a
        //                 font-size: 0
        //                 padding: 5px
        &.toggle-sidebar
            transform: translateX(0)
            padding-right: 16px
            & + .dashboard-data
                transform: translateX(265px)
                width: calc(100% - 265px)
                @media (max-width: $breakpoint-ipad)
                    width: calc(100% - 56px)
                    transform: translateX(56px)
            .drawer-toggle
                svg
                    transform: rotate(0deg)
    .dashboard-data
        width: 80%
        //width: calc(100% - 265px)
        width: calc(100% - 56px)
        transform: translateX(56px)
        position: relative
        display: inline-block
        vertical-align: top
        padding: 30px 80px 100px 25px
        transition: all 500ms
        @media (max-width: $breakpoint-ipad)
            width: calc(100% - 65px)
            padding: 30px 30px 50px
        @media (max-width: $breakpoint-mobile)
            padding: 20px 10px 50px
        .dashboard-body
            width: 100%
            display: inline-block
            .dashboard-header
                display: flex
                width: 100%
                justify-content: space-between
                align-items: flex-start
                @media (max-width: $breakpoint-mobile)
                    flex-direction: column
                .dashboard-title
                    h1
                        color: $dark-grey-color
                        font-size: 34px
                        font-weight: 900
                        line-height: 1.3
                        margin: 0
                        @media (max-width: $breakpoint-ipad-pro)
                            font-size: 28px
                        @media (max-width: $breakpoint-mobile)
                            font-size: 20px
                        a
                            color: $body-color
                            font-size: 14px
                            line-height: 1.5
                            text-decoration: underline
                            font-weight: normal
                    h3
                        color: $dark-grey-color
                        font-size: 28px
                        font-weight: 900
                        line-height: 1.3
                        margin: 0
                    h4
                        color: $dark-grey-color
                        font-size: 16px
                        font-weight: 700
                        line-height: 1.4
                        margin: 0
                    h5
                        color: $primary-color
                        font-size: 16px
                        line-height: 1.5
                        letter-spacing: 0.5px
                        font-weight: 400
                        margin: 0
                        @media (max-width: $breakpoint-mobile)
                            font-size: 14px
                        a
                            padding: 0 2px
                            color: $primary-color
                            &:hover,
                            &:focus,
                            &:active
                                text-decoration: none
                                color: $primary-color
                        // .success
                        //     color: $green-color
                        //     svg
                        //         path
                        //             fill: $green-color
                        // .in-progress
                        //     color: $primary-color
                        //     svg
                        //         path
                        //             fill: $primary-color
                    .dashboard-btns
                        margin: 17px 0 0
                .dashboard-actions
                    width: 54%
                    display: inline-block
                    vertical-align: top
                    text-align: right
                    @media (max-width: $breakpoint-mobile)
                        width: 100%
                        text-align: center
                        margin: 20px 0 0
                    .search-form
                        width: 297px
                        max-width: 60%
                        margin-right: 25px
                        display: inline-block
                        vertical-align: top
                        position: relative
                        @media (max-width: $breakpoint-mobile)
                            max-width: calc(100% - 40px)
                            margin-right: 5px
                        .form-group
                            margin: 0
                            .form-control
                                padding: 10px 15px 10px 45px
                                @media (max-width: $breakpoint-mobile)
                                    padding: 10px 10px 10px 35px
                        .btn
                            &.btn-primary
                                &.btn-search
                                    background-color: transparent
                                    border: none
                                    position: absolute
                                    top: 13px
                                    left: 15px
                                    padding: 0
                                    @media (max-width: $breakpoint-mobile)
                                        top: 11px
                                        left: 10px
                                    img
                                        @media (max-width: $breakpoint-mobile)
                                            max-width: 18px
                    .btn-filter
                        display: inline-block
                        vertical-align: top
                        background-color: $white-color
                        border-radius: 4px
                        width: 48px
                        height: 48px
                        line-height: 48px
                        text-align: center
                        @media (max-width: $breakpoint-mobile)
                            width: 35px
                            height: 35px
                            line-height: 27px
                            padding: 4px
                        img
                            display: inline-block
                .dashboard-btns
                    .btn
                        padding: 8px 20px
                .author-info
                    .author-img
                        display: inline-block
                        vertical-align: middle
                        margin-right: 12px
                        img
                            width: 64px
                            height: 64px
                            border-radius: 16px
                            display: inline-block
                    .author-name
                        display: inline-block
                        vertical-align: middle
                        text-align: left
                        h5
                            font-size: 20px
                            line-height: 1.3
                            font-weight: 700
                            color: $dark-grey-color
                            margin: 0
                            text-transform: capitalize
                            @media (max-width: $breakpoint-mobile)
                                font-size: 16px
                        h6
                            color: #9E9E9E
                            font-size: 16px
                            line-height: 1.5
                            font-weight: 400
                            letter-spacing: 0.5px
                            margin: 0 0 8px
                            @media (max-width: $breakpoint-mobile)
                                font-size: 14px
            .dashboard-body-header
                width: 100%
                display: flex
                justify-content: space-between
                align-items: center
                margin: 35px 0 15px
                h2
                    font-weight: 700
                    font-size: 20px
                    line-height: 1.3
                    color: $dark-grey-color
                    margin: 0
                    @media (max-width: $breakpoint-mobile)
                        font-size: 18px
                .btn.btn-primary
                    @media (max-width: $breakpoint-mobile)
                        padding: 11px 30px
            .dashboard-table
                background-color: $white-color
                border-radius: 24px
                padding: 24px
                margin: 0 0 30px
                overflow: auto
                table
                    width: 100%
                    font-size: 16px
                    line-height: 1.5
                    letter-spacing: 0.5px
                    color: $dark-grey-color
                    th
                        color: $body-color
                        font-size: 14px
                        line-height: 1.4
                        font-weight: normal
                    th,
                    td
                        padding: 20px
                    a
                        color: $dark-grey-color
                        img
                            width: 16px
                    .view-tags
                        color: $green-color
                        margin-left: 8px
                    .table-action-btns
                        margin-right: 8px
                        display: inline-block
                        vertical-align: middle
                        span
                            margin-left: 8px
                            display: inline-block
                            vertical-align: middle
                        img
                            display: inline-block
                            vertical-align: middle
                        svg
                            display: inline-block
                            vertical-align: middle
                    .custom-control
                        display: inline-block
                        vertical-align: middle
                        margin-right: 8px
                        .custom-control-label
                            font-weight: normal
                            font-size: 14px
                            line-height: 1.4
                    .table-post-title
                        font-weight: 700
                        font-size: 14px
                        line-height: 1.4
                        letter-spacing: 0.5px
                        display: inline-block
                        vertical-align: middle
                    tbody
                        tr
                            border-bottom: 1px solid $optional-light-grey-color
                            &:last-child
                                border-bottom: none
        &.blog-dashboard
            .dashboard-body
                .dashboard-header
                    align-items: flex-end
                    .dashboard-title
                        h5
                            font-weight: 700
                            color: $dark-grey-color
                        h1
                            color: $primary-color
                            font-weight: normal
    .draft-posts
        border-top: 1px solid $optional-light-grey-color
    .data-box
        background-color: $white-color
        border-radius: 16px
        padding: 16px 25px 25px
        margin-top: 9px
        &:first-child
            margin-top: 0
        .data-box-title
            width: 100%
            display: flex
            justify-content: space-between
            h3
                font-size: 24px
                line-height: 1.3
                font-weight: 700
                color: $dark-grey-color
                margin: 0 0 9px
                @media (max-width: $breakpoint-mobile)
                    font-size: 18px
    .blog-dashboard-data
        width: 100%
        display: inline-block
        margin: 22px 0
        .blog-dashboard-report
            margin-right: .8%
            width: 32.3%
            display: inline-block
            vertical-align: top
            @media (max-width: $breakpoint-small-desktop)
                width: 44%
            @media (max-width: $breakpoint-ipad-pro)
                width: 100%
                margin-bottom: 9px
        .blog-dashboard-graph
            width: 66.9%
            display: inline-block
            vertical-align: top
            @media (max-width: $breakpoint-small-desktop)
                width: 55%
            @media (max-width: $breakpoint-ipad-pro)
                width: 100%
                margin-bottom: 9px
    .blog-dashboard-steps
        list-style: none
        margin: 0
        padding: 0
        li
            padding: 7px 19px 7px 13px
            border: 2px solid $primary-color
            width: 100%
            margin: 0 0 6px
            border-radius: 24px
            display: flex
            justify-content: space-between
            @media (max-width: $breakpoint-mobile)
                padding: 8px
            &:last-child
                margin: 0
            h4
                margin: 0
                font-size: 18px
                line-height: 1.4
                color: $dark-grey-color
                font-weight: 700
                letter-spacing: 0
                @media (max-width: $breakpoint-mobile)
                    font-size: 14px
            .btn
                &.btn-primary
                    background-color: transparent
                    color: $primary-color
                    text-decoration: underline
                    padding: 0
                    border: none
                    font-size: 16px
                    line-height: 1
                    font-weight: 900
                    &:hover,
                    &:active,
                    &:focus,
                    &:not(:disabled):not(.disabled):active,
                    &:not(:disabled):not(.disabled):active:focus,
                        background-color: transparent
                        color: $primary-color
                        text-decoration: underline
                        padding: 0
                        border: none
                    @media (max-width: $breakpoint-mobile)
                        font-size: 12px
    .dashboard-reports-percent
        list-style: none
        margin: 0
        padding: 0
        display: flex
        @media (max-width: $breakpoint-mobile)
            flex-direction: column
        li
            margin-left: 2.3%
            width: 31.8%
            border: 2px solid $primary-color
            border-radius: 8px
            padding: 2px
            text-align: center
            display: inline-block
            vertical-align: top
            word-break: break-word
            @media (max-width: $breakpoint-mobile)
                margin-left: 0
                margin-bottom: 8px
                width: 100%
            &:first-child
                margin-left: 0
            h4
                font-size: 30px
                line-height: 1.3
                letter-spacing: 0.18px
                font-weight: 700
                color: $dark-grey-color
                margin: 0
                @media (max-width: $breakpoint-small-desktop)
                    font-size: 26px
                @media (max-width: $breakpoint-mobile)
                    font-size: 20px
            span
                font-size: 18px
                line-height: 18px
                font-weight: 400
                color: $dark-grey-color
                font-family: 'Nunito Sans', sans-serif
                display: inline-block
                @media (max-width: $breakpoint-mobile)
                    font-size: 14px
    .blog-dashboard-graph
        .dashboard-reports-percent
            li
                margin-left: 1%
                width: 24%
                @media (max-width: $breakpoint-mobile)
                    margin-left: 0
                    width: 100%
.blog-creation
    width: 100%
    display: inline-block
    .blog-creation-head
        width: 100%
        display: inline-block
        .blog-creation-head-left
            display: inline-block
            vertical-align: top
            width: 75%
            width: calc(100% - 290px)
            @media (max-width: $breakpoint-mobile)
                width: 100%
                margin: 0 0 25px
            .blog-title-group
                &.form-group
                    margin: 0
                    .form-control
                        border-radius: 0
                        font-size: 34px
                        line-height: 1.3
                        color: $black-color
                        border: 1px solid rgba(51, 51, 51, 0.3)
                        &::-webkit-input-placeholder
                            opacity: .2
                        &:-moz-placeholder
                            opacity: .2
                        &::-moz-placeholder
                            opacity: .2
                        &:-ms-input-placeholder
                            opacity: .2
                        &::-ms-input-placeholder
                            opacity: .2
                        @media (max-width: $breakpoint-ipad)
                            font-size: 22px
                        @media (max-width: $breakpoint-mobile)
                            font-size: 18px
        .blog-creation-author-box
            width: 245px
            margin: 0 0 0 45px
            display: inline-block
            vertical-align: top
            @media (max-width: $breakpoint-mobile)
                width: 100%
                margin: 0 0 40px
            h5
                font-size: 16px
                line-height: 1.4
                letter-spacing: 0.5px
                color: $dark-grey-color
            .author-info
                margin: 5px 0 12px
                .author-img
                    display: inline-block
                    vertical-align: bottom
                    margin: 0 16px 0 0
                    img
                        width: 78px
                        height: 78px
                        border-radius: 16px
                        object-fit: cover
                .author-name
                    display: inline-block
                    vertical-align: bottom
                    margin: 0 0 5px
                    width: 40%
                    width: calc(100% - 95px)
                    span
                        display: block
                        font-size: 20px
                        line-height: 1.3
                        letter-spacing: 0.18px
                        font-weight: 700
                        color: $dark-grey-color
                        text-transform: capitalize
                        margin: 0 0 9px
                        @media (max-width: $breakpoint-ipad)
                            font-size: 18px
                    a
                        display: block
                        font-size: 16px
                        line-height: 1
                        letter-spacing: 0.5px
                        font-weight: 900
                        color: $primary-color
                        text-transform: capitalize
                        text-decoration: underline
                .author-bio
                    @media (max-width: $breakpoint-mobile)
                        margin: 10px 0 0
                    h6
                        font-size: 16px
                        line-height: 1.4
                        letter-spacing: 0.5px
                        color: $dark-grey-color
                        font-weight: bold
                    p
                        font-size: 16px
                        line-height: 1.5
                        color: $dark-grey-color
            .author-social-links
                width: 100%
                display: inline-block
                margin: 37px 0 0
                padding: 0
                list-style: none
                @media (max-width: $breakpoint-mobile)
                    margin: 10px 0 0
                li
                    display: inline-block
                    vertical-align: top
                    margin-left: 24px
                    &:first-child
                        margin-left: 0
                    &::after
                        display: none
                    a
                        display: inline-block
                        width: 24px
                        height: 24px
                        background-color: $white-color
                        text-align: center
    .blog-creation-content
        margin-top: -30px
        @media (max-width: $breakpoint-mobile)
            margin-top: 0
        .word-count
            width: 100%
            display: inline-block
            margin: 0 0 5px
            .word-count-progressbar
                width: 245px
                max-width: 100%
                display: inline-block
                label
                    color: $black-color
                    font-size: 16px
                    line-height: 1.5
                    font-weight: bold
                    letter-spacing: 0.5px
                    margin: 0
                    @media (max-width: $breakpoint-mobile)
                        font-size: 14px
                .progress
                    .progress-bar
                        @media (max-width: $breakpoint-mobile)
                            font-size: 14px

    .blog-editor
        background-color: $optional-light-grey-color
    .blog-action
        width: 100%
        display: inline-block
        margin: 15px 0 0
        .blog-action-box
            width: 254px
            max-width: 100%
            border: 1px solid $optional-light-grey-color
            border-radius: 24px
            padding: 24px 16px 10px
            @media (max-width: $breakpoint-mobile)
                padding: 15px
            h5
                font-size: 16px
                line-height: 1.4
                color: $dark-grey-color
                font-weight: 700
                letter-spacing: 0.5px
                display: flex
                justify-content: space-between
                align-items: center
            ul
                margin: 0
                padding: 0
                list-style: none
                li
                    width: 100%
                    display: inline-block
                    color: $optional-light-grey-color
                    font-size: 14px
                    line-height: 1.4
                    border: 1px solid $optional-light-grey-color
                    border-radius: 8px
                    padding: 10px 16px
                    margin: 10px 0 0
                    text-transform: capitalize
                    @media (max-width: $breakpoint-mobile)
                        font-size: 12px
                        padding: 8px 10px
                    &.active
                        border: 2px solid $primary-color
                        background: rgba(48, 50, 200, 0.1)
                        color: $primary-color
                    span
                        margin: 0 16px
                        @media (max-width: $breakpoint-mobile)
                            margin: 0 5px
                    a
                        float: right
                        font-weight: 900
                        color: $primary-color
                        text-decoration: underline
                        font-size: 16px
                        @media (max-width: $breakpoint-mobile)
                            font-size: 12px
.related-blog
    width: 100%
    display: inline-block
    padding: 70px 0 60px
    border-bottom: 1px solid $optional-light-grey-color
    @media (max-width: $breakpoint-mobile)
        padding: 30px 0
    h3
        font-weight: 700
        font-size: 20px
        line-height: 1.3
        letter-spacing: 0.18px
        color: $dark-grey-color
    .blog-list
        margin: 0
        padding: 0
        list-style: none
        li
            margin-left: 3%
            width: 31.2%
            display: inline-block
            vertical-align: top
            @media (max-width: $breakpoint-mobile)
                width: 100%
                margin: 0 0 20px
            &:nth-child(3n+1)
                margin-left: 0
                clear: left
            .blog-box
                width: 100%
                display: inline-block
                .blog-img
                    width: 100%
                    display: inline-block
                    margin: 0 0 12px
                    img
                        width: 100%
                        height: 150px
                        border-radius: 16px
                        object-fit: cover
                .blog-detail
                    width: 100%
                    display: inline-block
                    .blog-title
                        width: 100%
                        display: flex
                        justify-content: space-between
                        align-items: center
                        h4
                            font-weight: 700
                            font-size: 16px
                            line-height: 1.4
                            color: $dark-grey-color
                            letter-spacing: 0.5px
                        span
                            font-size: 14px
                            line-height: 1.4
                            color: $black-color
                    p
                        font-size: 16px
                        line-height: 1.5
                        color: $body-color
                        margin: 0 0 17px
                    .read-more
                        color: $primary-color
                        font-size: 16px
                        line-height: 1
                        text-decoration: underline
                        font-weight: 900
.blog-seo-booster
    width: 100%
    display: inline-block
    padding: 16px 0
    border-bottom: 1px solid $optional-light-grey-color
    .seo-heading
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        color: $body-color
        font-size: 20px
        line-height: 1.3
        letter-spacing: 0.18px
        font-weight: 700
    .seo-content
        width: 100%
        display: inline-block
        padding: 25px 0 0
        p
            color: $charcoal-color
            font-size: 16px
            line-height: 1.5
            letter-spacing: 0.5px
        .focus-keyword
            .form-text
                color: $primary-color
        .form-text
            justify-content: space-between
            display: flex
            margin-top: 4px
            span.primary
                color: $primary-color
        .seo-progress-bar
            max-width: 75%
            span
                display: inline-block
                vertical-align: middle
                font-size: 14px
                line-height: 1
                font-weight: 900
                margin: 0 8px 0 0
                &.success
                    color: $green-color
                &.danger
                    color: $red-color
            .seo-strength
                display: inline-block
                vertical-align: middle
                width: 280px
                .progress
                    height: 8px !important
                    border-radius: 24px !important
                    border: none !important
                    .progress-bar
                        height: 8px
                    &.success
                        .progress-bar
                            background-color: $green-color
                    &.danger
                        .progress-bar
                            background-color: $red-color
        .seo-form
            padding: 24px 0 0
            .col
                @media (max-width: $breakpoint-mobile)
                    flex: 0 0 100%
                    max-width: 100%
        .seo-preview
            .seo-meta-preview
                width: 100%
                display: inline-block
                background-color: $white-color
                border: 1px solid $optional-light-grey-color
                border-radius: 24px
                padding: 24px
                margin: 0 0 6px
                word-break: break-word
                h4
                    color: $primary-color
                    font-size: 16px
                    line-height: 1.4
                    font-weight: 700
                    margin: 8px 0 0
                    .seprator
                        width: 2px
                        height: 21px
                        background-color: $primary-color
                        display: inline-block
                        vertical-align: middle
                        margin: 0 5px
                a
                    color: $dark-green-color
                    font-size: 14px
                    line-height: 1.4
                p
                    font-size: 14px
                    line-height: 1.4
                    color: $body-color
                    margin: 8px 0 0
.blog-btns
    width: 100%
    display: inline-block
    margin: 25px 0 0
    @media (max-width: $breakpoint-mobile)
        text-align: center

.custom-control.custom-switch
    .custom-control-label
        color: $dark-grey-color
        // &::before
        //     width: 32px
        //     height: 20px
        //     border-radius: 15px
        //     border: 1px solid $primary-color
        // &::after
        //     width: 16px
        //     height: 16px
        //     background-color: $primary-color
        //     top: 5.5px
.custom-rte-toolbar
    width: 100%
    display: inline-block
    background-color: $white-color
    border: 1px solid $optional-light-grey-color
    padding: 0  !important
    margin: 0 !important
    .toolbar-wrapper
        width: 100%
        display: flex
        align-items: center
        .toolbar-box
            width: auto
            display: inline-block
            position: relative
            padding: 0 4.5px
            &::after
                content: ''
                position: absolute
                background-color: $optional-light-grey-color
                top: 0
                bottom: 0
                right: 0
                width: 1px
            &:last-child
                &::after
                    display: none
        .editor-icons
            padding: 8.3px
            display: inline-block
.rte-editor-content
    width: 100%
    display: inline-block
    background-color: $optional-light-grey-color
    border: 1px solid $optional-light-grey-color
    padding: 48px 52px 0
    @media (max-width: $breakpoint-mobile)
        padding: 4px
    .editor-content
        background-color: $white-color
        padding: 56px
        min-height: 570px
        @media (max-width: $breakpoint-mobile)
            padding: 8px
            min-height: 400px
.accordion
    .card
        border: none
        box-shadow: none
        background-color: transparent
        .card-header
            padding: 15px 0
            margin: 0 0 10px
            border: none
            box-shadow: none
            background-color: transparent

            .btn.btn-link
                color: $body-color
                font-size: 20px
                line-height: 1.3
                letter-spacing: 0.18px
                font-weight: 700
                background-color: transparent
                border: none
                padding: 0
                width: 100%
                display: flex
                justify-content: space-between
                align-items: center
                &:hover,
                &:active,
                &:focus
                    outline: none
                    background-color: transparent
                    border: none
                    text-decoration: none
                span
                    .heading-icon
                        display: inline-block
                        vertical-align: middle
                        width: 24px
                        height: 24px
                        line-height: 22px
                        background-color: $white-color
                        border-radius: 4px
                        margin-right: 10px
        .card-body
            border: none
            box-shadow: none
            background-color: transparent
            margin: 0
            padding: 0
.edit-site-panel
    width: 100%
    display: inline-block
    padding: 17px 0
    border-bottom: 2px solid rgba(51, 51, 51, 0.3)
    .edit-site-btns
        width: 100%
        display: flex
        justify-content: space-between
        @media (max-width: $breakpoint-mini-desktop)
            flex-wrap: wrap
            justify-content: flex-start
        .form-group
            width: auto
            display: inline-block
            margin: 0 0 0 13px
            @media (max-width: $breakpoint-mini-desktop)
                margin: 0 1.5% 1.5% 0
                width: 31.8%
            @media (max-width: $breakpoint-mobile)
                margin: 0 0 15px 0
                width: 100%
            &:first-child
                margin-left: 0
            &.edit-header-footer
                width: 166px
                @media (max-width: $breakpoint-mini-desktop)
                    width: 31.8%
                @media (max-width: $breakpoint-mobile)
                    width: 100%
                .btn
                    width: 100%
                    height: 40px
            label
                font-size: 14px
                line-height: 1.4
                font-weight: 700
                color: $dark-grey-color
            .edit-site-btn
                background-color: $white-color
                border-radius: 24px
                padding: 7px 35px 7px 12px
                display: inline-block
                width: 100%
                background-image: url('/images/chevron-down.png')
                background-repeat: no-repeat
                background-position: right 12px center
                font-size: 16px
                line-height: 1.5
                color: $dark-grey-color
                height: auto
                img
                    padding: 0 10px 0 0
                &.no-arrow
                    background-image: none
                    padding-right: 12px
                    text-align: center
                .checkbox-colors
                    margin: 0
                    padding: 0 10px 0 0
                    line-height: 0
                    span
                        width: 24px
                        height: 24px
                        vertical-align: middle
                &.logo-preview-btn
                    height: 40px
                    img
                        width: auto
                        max-height: 100%
                        padding: 0
.color-palette-popup
    .color-palatte
        .color-palatte-selector
            .styled-radio-btn
                margin-left: 15px
                @media (max-width: $breakpoint-ipad)
                    margin-left: 0
                    width: 100%
                &:nth-child(2n+1)
                    margin-left: 15px
                    clear: none
                    @media (max-width: $breakpoint-ipad)
                        margin-left: 0
                &:nth-child(3n+1)
                    margin-left: 0
                    clear: left
.dashboard-edit-site-wrap
    .dashboard-header
        &.site-filter-header
            align-items: center
            padding: 17px 0
.pages-listing
    width: 100%
    display: inline-block
    ul
        width: 100%
        display: flex
        flex-wrap: wrap
        margin: 0
        padding: 0
        li
            display: inline-block
            vertical-align: top
            width: 32.2%
            margin-left: 1.5%
            margin-bottom: 1.5%
            @media (max-width: $breakpoint-ipad)
                width: 49%
            @media (max-width: $breakpoint-mobile)
                width: 100%
                margin-bottom: 30px
            &:nth-child(3n+1)
                margin-left: 0
                @media (max-width: $breakpoint-ipad)
                    margin-left: 1.5%
                @media (max-width: $breakpoint-mobile)
                    margin-left: 0
            &:nth-child(2n+1)
                @media (max-width: $breakpoint-ipad)
                    margin-left: 0
            &.add-new-page
                border: 2px solid $primary-color
                position: relative
                border-radius: 24px
                @media (max-width: $breakpoint-mobile)
                    min-height: 295px
                .btn
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%,-50%)
                    font-size: 14px
                    line-height: 1
                    font-weight: 900
                    color: $primary-color
                    width: 166px
                    padding: 11px 25px
            &.active
                .page-detail
                    background-color: $white-color
                    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.18)
                    .page-layout
                        background-color: $light-bg-color
            .page-detail
                width: 100%
                display: inline-block
                border: 1px solid $optional-light-grey-color
                border-radius: 24px
                padding: 21px 17px
                .page-name
                    width: 100%
                    display: flex
                    justify-content: space-between
                    align-items: center
                    h6
                        color: $dark-grey-color
                        font-size: 16px
                        line-height: 1.4
                        font-weight: bold
                        letter-spacing: 0.5px
                    .custom-control.custom-switch
                        padding-left: 0
                        padding-right: 2.25rem
                        .custom-control-label
                            font-size: 14px
                            line-height: 1.4
                            color: $body-color
                            &::before
                                left: auto
                                right: -2.25rem
                            &::after
                                left: auto
                                right: calc(-2.25rem + 13px)
                        .custom-control-input
                            left: auto
                            right: 0
                .page-layout
                    width: 100%
                    display: inline-block
                    position: relative
                    background-color: $white-color
                    border-radius: 8px
                    margin: 8px 0 16px
                    text-align: center
                    svg
                        max-width: 100%
                    a
                        position: absolute
                        top: 45%
                        left: 50%
                        transform: translate(-50%,-50%)
                        font-size: 16px
                        line-height: 1
                        font-weight: 900
                        color: $primary-color
                        text-decoration: underline
                .page-action
                    width: 100%
                    display: flex
                    justify-content: space-between
                    align-items: center
                    .btn
                        font-size: 18px
                        line-height: 1.4
                        color: $body-color
                        border: 1px solid #9E9E9E
                        padding: 0 6px
                        border-radius: 5px
                        margin-right: 20px
                        font-weight: normal
                        &:last-child
                            margin-right: 0
.trash-listing
    width: 100%
    display: inline-block
    margin: 17px 0
    border-top: 1px solid $optional-light-grey-color

.niche-edit-modal
    .input-radio-label
        @media (max-width: $breakpoint-mobile)
          padding: 10px 10px 10px 30px
          background-position: 8px center
          font-size: 14px
.edit-menu-listing
    width: 100%
    display: inline-block
    .menu-listing
        width: 55%
        margin-right: 1.5%
        display: inline-block
        vertical-align: top
        @media (max-width: $breakpoint-mobile)
            width: 100%
            margin: 0 0 30px
        ol
            width: 100%
            display: inline-block
            margin: 0
            padding: 0
            list-style: none
            li
                display: inline-block
                width: 100%
                margin: 0 0 8px
                .menu-order
                    display: inline-block
                    vertical-align: middle
                    border-radius: 8px
                    border: 1px solid $optional-light-grey-color
                    font-size: 14px
                    line-height: 37px
                    font-weight: bold
                    color: $body-color
                    width: 40px
                    height: 40px
                    text-align: center
                .menu-detail
                    display: inline-block
                    vertical-align: middle
                    margin-left: 8px
                    border: 1px solid $optional-light-grey-color
                    border-radius: 8px
                    width: 75%
                    width: calc(100% - 50px)
                    padding: 6px 10px 6px 29px
                    @media (max-width: $breakpoint-mobile)
                        padding: 6px 10px 6px 15px
                    .menu-detail-inner
                        display: flex
                        justify-content: space-between
                        align-items: center
                        .menu-action
                            font-size: 16px
                            line-height: 1
                            text-decoration: underline
                            color: $primary-color
                            font-weight: 900
                            @media (max-width: $breakpoint-mobile)
                                font-size: 14px
                        .menu-name
                            svg
                                display: inline-block
                                vertical-align: middle
                            span
                                display: inline-block
                                vertical-align: middle
                                font-size: 14px
                                line-height: 1.5
                                font-weight: bold
                                color: $dark-grey-color
                                margin:  0 0 0 8px

    .add-menu
        width: 43.5%
        display: inline-block
        vertical-align: top
        @media (max-width: $breakpoint-mobile)
            width: 100%
        .form-group
            .form-control
                background-color: $light-bg-color
.profile-avtar-info
    width: 100%
    display: inline-block
    margin: 8px 0 29px
    .profile-avtar
        width: 107px
        display: inline-block
        vertical-align: middle
        position: relative
        .edit-profile-avtar
            position: absolute
            right: -13px
            bottom: -13px
            padding: 6px
            background-color: $white-color
            border-radius: 8px
        .upload-feature-img-wrap
            .upload-feature-img
                width: 107px
                height: 107px
                font-size: 12px
    .profile-main-info
        margin-left: 29px
        width: 60%
        width: calc(100% -  302px)
        display: inline-block
        vertical-align: middle
        text-transform: capitalize
        @media (max-width: $breakpoint-mobile)
            width: 100%
            margin: 20px 0 0
        h6
            font-size: 16px
            line-height: 1.3
            color: $dark-grey-color
            letter-spacing: -0.016em
            font-weight: normal
            font-family: 'Mulish', sans-serif
        h5
            font-size: 24px
            line-height: 1
            font-weight: normal
            color: $dark-grey-color
            letter-spacing: 0.18px
        a
            color: $primary-color !important
            font-size: 16px
            line-height: 1
            font-weight: 900
            text-decoration: underline !important
        .btn.btn-primary
            color: $primary-color !important
            font-size: 16px
            line-height: 1
            font-weight: 900
            text-decoration: underline !important
            background: transparent
            border: none
            padding: 0
            &:not(:disabled):not(.disabled):active,
            &:not(:disabled):not(.disabled):active:focus,
            &:hover,
            &:active,
            &:focus
                color: $primary-color !important
                text-decoration: underline !important
                background: transparent
                border: none
    .btn.btn-secondary
        background-color: transparent
        padding: 11px 25px
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled):active:focus,
        &:hover,
        &:active,
        &:focus
            background-color: transparent
    .profile-delete-account
        width: 166px
        display: none
        vertical-align: middle
        @media (max-width: $breakpoint-mobile)
            width: 100%
            margin: 20px 0 0
    .profile-save-btn
        display: none
.profile-edit-info
    .profile-save-btn
        display: inline-block
    .profile-delete-account
        display: inline-block
    .edit-info-btn
        display: none
.profile-personal-info
    width: 100%
    display: inline-block
    .form-group
        margin-left: 2%
        width: 32%
        vertical-align: top
        @media (max-width: $breakpoint-ipad)
            margin-left: 0
            width: 100%
        &:nth-child(3n+1)
            margin-left: 0
            clear: left
.profile-subscription
    width: 100%
    display: inline-block
    margin: 48px 0 20px
    .profile-active-plan
        .subscribed-plan
            width: 100%
            display: flex
            justify-content: center
            align-items: center
            background: linear-gradient(194.37deg, #A854FC -11.72%, #3A0D68 158.72%)
            border: 3px solid rgba(51, 51, 51, 0.3)
            border-radius: 24px
            height: 254px
            text-align: center
            h6
                font-size: 20px
                line-height: 1.3
                font-weight: 700
                color: $white-color
                margin: 0
            h4
                font-size: 34px
                line-height: 1.3
                font-weight: normal
                color: $white-color
                margin: 8px 0 28px
                sub
                    font-size: 59%
.profile-left
    display: inline-block
    width: 32%
    vertical-align: top
    @media (max-width: $breakpoint-ipad)
        width: 100%
        margin-bottom: 30px
.profile-right
    display: inline-block
    width: 66%
    margin-left: 2%
    vertical-align: top
    @media (max-width: $breakpoint-ipad)
        margin: 0 0 30px
        width: 100%
.profile-subhead
    font-size:  16px
    line-height: 1.4
    letter-spacing: 0.5px
    font-weight: 700
    color: $dark-grey-color
    margin: 0 0 8px
.blogs-table
    &.dashboard-table
        background-color: $white-color
        border-radius: 24px
        padding: 24px
        margin: 0 0 30px
        table
            width: 100%
            min-width: 1105px
            font-size: 16px
            line-height: 1.5
            letter-spacing: 0.5px
            color: $dark-grey-color
            @media (max-width: $breakpoint-small-desktop)
                min-width: 980px
.profile-add-payment
    .expiration-date
        width: 48%
        margin-right: 4%
        display: inline-block
        vertical-align: top
        @media (max-width: $breakpoint-mobile)
            width: 100%
            margin-right: 0
    .security-number
        width: 48%
        display: inline-block
        vertical-align: top
        @media (max-width: $breakpoint-mobile)
            width: 100%
.card-actions
    text-align: left
    margin: 24px 0
.profile-card-listing
    ul
        margin: 0
        padding: 0
        list-style: none
        li
            width: 100%
            display: inline-block
            margin: 0 0 24px
            border: 1px solid #E2E2E2
            border-radius: 8px
            padding: 8px 16px
            position: relative
            &:last-child
                margin-bottom: 0
            .card-radio
                position: absolute
                left: 0
                right: 0
                top: 0
                bottom: 0
                z-index: 2
                width: 100%
                height: 100%
                padding: 0
                input
                    position: absolute
                    left: 0
                    right: 0
                    top: 0
                    bottom: 0
                    z-index: 2
                    width: 100%
                    height: 100%
                    padding: 0
                    cursor: pointer
                    opacity: 0
            label
                width: 100%
                display: flex
                align-items: center
                @media (max-width: $breakpoint-mobile)
                    flex-wrap: wrap
                & > div
                    display: inline-block
                    margin-right: 48px
                    @media (max-width: $breakpoint-mobile)
                        margin-right: 25px
                    &:last-child
                        margin-right: 0
                .card-radio-btn
                    width: 16px
                    height: 16px
                    background-image: url('/images/radio.png')
                    background-repeat: no-repeat
                    background-position: center
            &.active
                border: 2px solid #3032C8
                background: linear-gradient(0deg, rgba(48, 50, 200, 0.1), rgba(48, 50, 200, 0.1)), #FFFFFF
                label
                    .card-radio-btn
                        background-image: url('/images/radio-checked.png')
.dashboard-table
    &.billing-detail-table
        table
            min-width: 600px
.logo-upload-modal
    .modal-dialog
        .modal-content
            .logo-preview-modal
                .logo-preview
                    text-align: center
                    width: 375px
                    max-width: 100%
                    float: right
                    h4
                        font-size: 18px
                        line-height: 1.3
                        margin: 0 0 5px
                        color: $dark-grey-color
                    .preview-logo
                        border: 1px solid rgba(51, 51, 51, 0.3)
                        border-radius: 15px
                        margin: 0
                        padding: 15px
                        flex-direction: column
                        img
                            width: auto
                            height: auto
                            object-fit: cover
                            border-radius: 15px
                            margin: 0
                    .clear-logo
                        margin: 15px 0 0
                        text-transform: capitalize
                        color: $red-color
                        font-weight: 700
                        width: 100%
                        display: inline-block
.profile_username
    .small-up-loader
        position: absolute
        right: 40px
        top: 1px